@import "src/app/event/event-details/event-details.component.scss";
@import "src/app/shared/nav-event-details/nav-event-details.component.scss";


.align-menu {
  margin-top: 30px;
  margin-left: 30px;
}

.img-profile {
  width: 220px;
  height: 190px;
}

.change-color-icon {
  color: #E51B3D;
  padding-right: 7px;
}

.title-edit {
  font-size: 14px;
}

.color-block-profile {
  background-color: white;
}

.title-menu-organizer {
  font-weight: 600;
  color: #696969;
  font-size: 14px;
  padding-bottom: 4px;
  display: block;
}

.title-form-organizer {
  font-weight: 400;
  color: #696969;
  font-size: 30px;
  padding-bottom: 4px;
  margin-top: 10px;
}

.btn-send-contact {
  width: 30%;
  height: 35px;
  color: white;
  margin-top: 2%;
  font-size: 16px;
}

.space-layout {
  margin-right: 0px;
  margin-bottom: 20px;
}
