<nav class="navbar navbar-expand-lg navbar-light color-nav">

  <a class="navbar-brand font-btn-nav" style="color: white" href="#">
    <img src="../../assets/images/obiker-eventos-logo.png"
      class="img-responsive img-front">
  </a>
    <!-- <button class="navbar-toggler" type="button" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> -->
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-fa-2x icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
    <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarNav">

      <div class="vertial-line-nav">
      </div>

        <ul class="navbar-nav ml-auto">
          <div class="vertial-line-nav">
          </div>

            <li class="nav-item">
                <a class="nav-link space-link-nav" style="color: white"  href="#">
                <i class="fa fa-shopping-cart fa-2x icon-bar " aria-hidden="true"></i>
                Loja OBiker
                </a>
            </li>

            <div class="vertial-line-nav">
            </div>

            <li class="nav-item">
                <a href="" class="nav-link space-link-nav" style="color: white" routerLink="/profile-organizer/event-form/new">
                    <i class="fa fa-bullhorn fa-2x icon-bar " aria-hidden="true"></i>
                    Cadastrar evento
                </a>
            </li>

            <div class="vertial-line-nav">
            </div>
        </ul>

    </div>
</nav>
