<div class="container">
    <h1 class="col-xs-12 well">Registro do Organizador</h1>
    <small id="nameHelp" class="form-text text-muted">
      (<span class="data-req">*</span>) Campo obrigatório</small>
      <br>
	<div class=" col-xs-12col-lg-12 well">
	<div class="row">
				<form (ngSubmit)="organizationSignUp(f)" #f="ngForm">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-12 form-group">
								<label><span class="data-req">*</span> Nome</label>
								<input type="text" placeholder="Seu Nome.." class="form-control" id="reg_organization_name" name="reg_organization_name" ngModel>
							</div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                  <label><span class="data-req">*</span> E-mail</label>
                  <input type="email" placeholder="Seu E-mail.." class="form-control" id="reg_organization_email" name="reg_organization_email" ngModel>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group">
                  <label><span class="data-req">*</span> Senha</label>
                  <input type="password" placeholder="Senha..." rows="3" class="form-control" id="reg_organization_password" name="reg_organization_password" ngModel>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group">
                  <label><span class="data-req">*</span> Confirme sua Senha</label>
                  <input type="password" placeholder="Redigite sua Senha..." rows="3" class="form-control" id="reg_organization_password_confirmation" name="reg_organization_password_confirmation" ngModel>
              </div>
              </div>
            <!-- <div class="row">
              <div class="col-sm-12 form-group">
                <label>CPF</label>
                <input placeholder="Cpf..." rows="3" class="form-control" id="reg_organization_cpf" name="reg_organization_cpf" ngModel>
            </div>
            </div> -->
            <!-- <div class="row">
              <div class="col-sm-8 form-group">
                <label>Rua</label>
                <input placeholder="Sua Rua..." rows="3" class="form-control" id="reg_organization_street" name="reg_organization_street" ngModel>
              </div>
              <div class="col-sm-4 form-group">
                <label>Número</label>
                <input placeholder="Numero..." rows="3" class="form-control" id="reg_organization_number" name="reg_organization_number" ngModel>
              </div>
            </div> -->
            <!-- <div class="row">
              <div class="col-sm-6 form-group">
                <label>Bairro</label>
                <input placeholder="Seu Bairro..." rows="3" class="form-control" id="reg_organization_neighbor" name="reg_organization_neighbor" ngModel>
              </div>
              <div class="col-sm-4 form-group">
                <label>Cidade</label>
                <input placeholder="Cidade..." rows="3" class="form-control" id="reg_organization_city" name="reg_organization_city" ngModel>
              </div>
              <div class="col-sm-2 form-group">
                  <label>Estado</label>
                  <input placeholder="Estado..." rows="3" class="form-control" id="reg_organization_state" name="reg_organization_state" ngModel>
              </div>
            </div> -->
            <!-- <div class="row">
              <div class="col-sm-6 form-group"> -->
                <!-- <label>Banco</label>
                <input placeholder="Seu Banco..." rows="3" class="form-control" id="reg_organization_bank" name="reg_organization_bank" ngModel> -->
              <!-- </div>
              <div class="col-sm-4 form-group"> -->
                <!-- <label>Agência</label>
                <input placeholder="Agencia..." rows="3" class="form-control" id="reg_organization_agency" name="reg_organization_agency" ngModel> -->
              <!-- </div>
              <div class="col-sm-2 form-group"> -->
                  <!-- <label>Digito</label>
                  <input placeholder="DV..." rows="3" class="form-control" id="reg_organization_agency_dv" name="reg_organization_agency_dv" ngModel> -->
              <!-- </div>
            </div> -->
            <!-- <div class="row">
              <div class="col-sm-6 form-group"> -->
                <!-- <label>Conta</label>
                <input placeholder="Número da Conta..." rows="3" class="form-control" id="reg_organization_account" name="reg_organization_account" ngModel> -->
              <!-- </div>
              <div class="col-sm-2 form-group"> -->
                <!-- <label>Digito</label>
                <input placeholder="DV..." rows="3" class="form-control" id="reg_organization_account_dv" name="reg_organization_account_dv" ngModel> -->
              <!-- </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-sm-8 form-group"> -->
                  <!-- <label>Nome da Conta</label>
                  <input placeholder="Nome da Conta..." rows="3" class="form-control" id="reg_organization_account_name" name="reg_organization_account_name" ngModel> -->
                <!-- </div>
                <div class="col-sm-4 form-group"> -->
                  <!-- <label>Documento da Conta</label>
                  <input placeholder="(CPF ou CNPJ)" rows="3" class="form-control" id="reg_organization_account_doc" name="reg_organization_account_doc" ngModel> -->
                <!-- </div>
              </div> -->
          <button type="submit" class="btn btn-lg btn-info">Enviar</button>
          <br>
					</div>
				</form>
        </div>

        <div>
            <hr>
            <i>
              <a href="/" class="btn btn-outline-primary">Voltar</a>
            </i>
      </div>
      <br><br>

  	</div>
	</div>
