<app-nav-profile-athlete></app-nav-profile-athlete>

<div class="row space-layout">

  <div class="col-md-3 color-block-profile">
    <div class="align-menu">
      <app-menu-profile-athletes></app-menu-profile-athletes>
    </div>
  </div>

  <div class="col-md-9">
    <div class="align-menu">
      <h1 class="title-form-organizer">Meus dados</h1>
      <div class="block-profile">
        <form>
          <div class="row">

            <div class="col-lg-12">
              <h1 class="subtitle-form-organizer">Dados pessoais</h1>
              <a href="#" style="float:right; color: red">Alterar minha senha</a>
              <small id="nameHelp" class="form-text text-muted">
                (<span class="data-req">*</span>) Campo obrigatório</small>
              <hr>

              <div class="form-group">
                <label for="textinput">Nome completo <span class="data-req">*</span></label>
                <input   id="textinput" type="text" aria-describedby="nameHelp" disabled="true" placeholder="Ex.: Mark ..." class="form-control input  -md" >
                <small id="nameHelp" class="form-text text-muted">Seu nome não pode ser alterado</small>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="form-group">
                <label for="textinput">CPF <span class="data-req">*</span></label>
                <input   id="textinput" type="text" aria-describedby="nameHelp" disabled="true" placeholder="Ex.: 33355588898" class="form-control input  -md" formControlName="phone">
                <small id="nameHelp" class="form-text text-muted">Seu nome não pode ser alterado</small>
              </div>
            </div>

            <div class="col-lg-5">
              <div class="form-group">
                <label for="textinput">Data de nascimento <span class="data-req">*</span></label>
                <input   id="textinput" type="text" aria-describedby="nameHelp" disabled="true" placeholder="Ex.: 10/01/1980" class="form-control input  -md" formControlName="number">
                <small id="nameHelp" class="form-text text-muted">Sua data de nascimento não pode ser alterada</small>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label for="textinput">Telefone <span class="data-req">*</span></label>
                <input   id="textinput" type="text" aria-describedby="nameHelp" placeholder="Ex.: 1199997777" class="form-control input  -md" formControlName="phone">
              </div>
            </div>

            <div class="col-lg-12">
              <h1 class="subtitle-form-organizer">Endereço</h1>
              <hr>
            </div>

            <div class="col-lg-8">
              <div class="form-group">
                <label for="textinput">CEP</label>
                <input  id="textinput" type="text" aria-describedby="nameHelp" placeholder="Ex.: 01311-200" class="form-control input  -md" >
              </div>
            </div>

            <div class="col-lg-4">
              <button type="button" class="btn btn-light btn-send-contact">
                BUSCAR
              </button>
            </div>

            <div class="col-lg-9">
              <div class="form-group">
                <label for="textinput">Logradouro</label>
                <input   id="textinput" type="text" aria-describedby="nameHelp" placeholder="Ex.: Avenida Paulista" class="form-control input  -md" >
                <small id="nameHelp" class="form-text text-muted"></small>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="form-group">
                <label for="textinput">Número</label>
                <input   id="textinput" type="text" aria-describedby="nameHelp" placeholder="Ex.: 1010" class="form-control input  -md" >
                <small id="nameHelp" class="form-text text-muted"></small>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="form-group">
                <label for="textinput">Bairro</label>
                <input   id="textinput" type="text" aria-describedby="nameHelp" placeholder="Ex.: Centro" class="form-control input  -md" >
                <small id="nameHelp" class="form-text text-muted"></small>
              </div>
            </div>

            <div class="col-lg-5">
              <div class="form-group">
                <label for="textinput">Complemento</label>
                <input   id="textinput" type="text" aria-describedby="nameHelp" placeholder="Ex.: Centro" class="form-control input  -md" >
                <small id="nameHelp" class="form-text text-muted"></small>
              </div>
            </div>


            <div class="col-lg-9">
              <div class="form-group">
                <label for="textinput">Cidade</label>
                <input   id="textinput" type="text" aria-describedby="nameHelp" placeholder="Ex.: São Paulo" class="form-control input  -md" >
                <small id="nameHelp" class="form-text text-muted"></small>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="form-group">
                <label for="textinput">Estado</label><br>
                <select class="custom-select">
                  <option selected>SP</option>
                  <option value="1">RJ</option>
                </select>
              </div>
            </div>

            <div class="col-lg-12">
              <button type="button" class="btn btn-light btn-send-contact">
                SALVAR
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
