@import "src/app/profile-organizer/my-events/my-events.component.scss";

.subtitle-form-organizer {
  font-weight: 400;
  color: #696969;
  font-size: 24px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}


.data-req {
  color: red;
}

.btn-send-contact {
  margin-top: 32px;
  margin-bottom: 30px;  
}
