<nav class="navbar navbar-expand-lg navbar-light color-nav">

    <a class="navbar-brand font-btn-nav" style="color: white" href="#">
      <img src="../../assets/images/obiker-eventos-logo.png"
        class="img-responsive img-front">
    </a>
    <!-- <button class="navbar-toggler" type="button" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
    <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarNav">
<!-- *ngIf="athlete != null || athlete != ''" -->
        <ul class="navbar-nav ml-auto" >
            <!-- <li class="nav-item">
                <a class="nav-link space-link-nav" style="color: white"  href="#">
                <i class="fa fa-shopping-cart fa-2x icon-bar " aria-hidden="true"></i>
                Loja OBiker
                </a>
            </li> -->

            <div class="vertial-line-nav">
            </div>

            <!-- <li class="nav-item">
                <a class="nav-link space-link-nav" style="color: white" href="#">
                    <i class="fa fa-bullhorn fa-2x icon-bar " aria-hidden="true"></i>
                    Cadastrar evento
                </a>
            </li> -->


              <li class="nav-item" *ngIf="!isLogged">
                <div class="dropdown">
                  <a class="nav-link space-link-nav dropdown-toggle" data-toggle="dropdown" style="color: white" href="">
                    <i class="fa fa-mail-forward fa-2x icon-bar " aria-hidden="true"></i>
                    Faça Login ou Cadastre-se
                  </a>
                  <div class="dropdown-menu" style="background-color: #E51B3D">
                      <div>
                        <li class="nav-item dropdown-item" style="background-color: #E51B3D">
                            <a class="nav-link space-link-nav" style="color: white" href=""
                            routerLink="organization-login">
                              <i class="fa fa-list-alt fa-2x icon-bar " aria-hidden="true"></i>
                              Organizador
                            </a>
                        </li>
                      </div>
                    <div>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item dropdown-item" style="background-color: #E51B3D">
                        <a class="nav-link space-link-nav" style="color: white" href=""
                        routerLink="athlete-login">
                          <i class="fa fa-bicycle fa-2x icon-bar " aria-hidden="true"></i>
                          Atleta
                        </a>
                    </li>
                  </div>
                </div>
              </div>
            </li>
            <ng-template [ngIf]="athleteLogged">
              <div class="vertial-line-nav">
              </div>
              <li class="nav-item">
                <a class="nav-link space-link-nav" style="color: white" href=""
                routerLink="profile-athlete/my-inscriptions">
                  <i class="fa fa-bicycle fa-2x icon-bar " aria-hidden="true"></i>
                  Meu Perfil
                </a>
              </li>
              <div class="vertial-line-nav"></div>
              <li class="nav-item">
                <a class="nav-link space-link-nav"
                  style="color: white"
                  (click)="athleteLogOut()"
                  routerLink="/">
                  <i class="fa fa-mail-reply fa-2x icon-bar " aria-hidden="true"></i>
                  Sair
                </a>
              </li>
            </ng-template>
            <div class="vertial-line-nav">
              </div>
              <li class="nav-item" *ngIf="organizationLogged">
                <a class="nav-link space-link-nav" style="color: white" href=""
                routerLink="profile-organizer/my-events">
                  <i class="fa fa-list-alt fa-2x icon-bar " aria-hidden="true"></i>
                  Meu Perfil
                </a>
              </li>
        </ul>
    </div>
</nav>
