@import "src/app/shared/nav-event-details/nav-event-details.component.scss";


.img-front {
  position: absolute;
  left: 0px;
  top: 5px;
  z-index: 1;
  width: 160px;
  height: 150px;
  margin-left: 20px;
}
