<div class="row">
  <div class="col-md-6">

    <img src="http://res.cloudinary.com/dylp14eib/image/upload/c_scale,h_140,w_190/v1516057420/anuncio-01_qs48zq.png"
    class="img-thumbnail img-event-relationship"  alt="">

    <div class="content-two">
      <div class="open-event" style="padding-left: 10%; padding-right: 6%; float: left">
        <a href="#" style="color: white;">
          <span><b>ABRIR</b></span>
        </a>
      </div>
      <div class="cancel-event-block">
        <a href="#" style="color: white;"><span><b>CANCELAR</b></span></a>
      </div>
    </div>

    <span class="title-event-relationship-two">Circuito de Uberlândia</span><br>
    <span class="subtitle-event-relationship-two">Circuito de Uberlândia</span><br>
    <span class="subtitle-event-relationship-two">18 nov às 14h</span>
  </div>

  <div class="col-md-6">

    <img src="http://res.cloudinary.com/dylp14eib/image/upload/c_scale,h_140,w_190/v1516057420/anuncio-01_qs48zq.png"
    class="img-thumbnail img-event-relationship" alt="">

    <div class="content-two">
      <div class="open-event" style="padding-left: 10%; padding-right: 6%; float: left">
        <a href="#" style="color: white;">
          <span><b>ABRIR</b></span>
        </a>
      </div>
      <div class="cancel-event-block">
        <a href="#" style="color: white;"><span><b>CANCELAR</b></span></a>
      </div>
    </div>

    <span class="title-event-relationship-two">Circuito de Uberlândia</span><br>
    <span class="subtitle-event-relationship-two">Circuito de Uberlândia</span><br>
    <span class="subtitle-event-relationship-two">18 nov às 14h</span>
  </div>
</div>
