@import "src/styles.scss";
@import "src/app/profile-organizer/profile-organizer.component.scss";

.btn-send-contact {
  background-color: #E51B3d;
  width: 200px;
}

.data-req {
  color: red;
}

.block-profile {
  background-color: white;
  padding: 20px;
  margin-right: 10px;
}
