<app-profile-organizer></app-profile-organizer>

<div class="row space-layout">

  <div class="col-md-3 color-block-profile">
    <div class="align-menu">
      <app-menu-profile-organizer></app-menu-profile-organizer>
    </div>
  </div>

  <div class="col-md-9">
    <div class="align-menu">
      <h1 class="title-form-organizer">{{ title }}</h1>
      <div class="block-profile">
        <form [formGroup]="eventForm" (ngSubmit)="save()">
          <div class="row">
            <div class="col-lg-12">
              <h4 class="subtitle-form-organizer">Dados do Evento</h4>
              <small  class="form-text text-muted">
                (<span class="data-req">*</span>) Campo obrigatório</small>
              <hr>
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Nome do Evento</label>
                <input id="textinput" type="text" placeholder="Ex.: Racing SP"
                  class="form-control input  -md" formControlName="name" required>

                  <!-- <pre> {{ name.valid }} </pre> -->

                <!-- <small  class="form-text text-muted">.</small> -->
              </div>
            </div>

            <div class="col-lg-5">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Local de Partida</label>
                <input id="textinput" type="text" placeholder="Ex.: Avenida Paulista"
                  class="form-control input  -md" formControlName="start_street" required>
                <!-- <small  class="form-text text-muted">.</small> -->
              </div>
            </div>

            <div class="col-lg-3">
              <div class="form-group">
                <label for="textinput">Número</label>
                <input id="textinput" type="text" placeholder="Ex.: 1847"
                  class="form-control input  -md" formControlName="start_number">
                  <small class="form-text text-muted">Inclua um número do local, se houver</small>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Bairro</label>
                <input id="textinput" type="text" placeholder="Ex.: Centro" class="form-control input  -md" formControlName="start_neighbor" required>
              </div>
            </div>

            <div class="col-lg-5">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Local de Chegada</label>
                <input id="textinput" type="text" placeholder="Ex.: Avenida Ibirapuera"
                  class="form-control input  -md" formControlName="finish_street" required>
                <!-- <small  class="form-text text-muted">.</small> -->
              </div>
            </div>

            <div class="col-lg-3">
              <div class="form-group">
                <label for="textinput">Número</label>
                <input id="textinput" type="text" placeholder="Ex.: 1847"
                  class="form-control input  -md" formControlName="finish_number">
                  <small class="form-text text-muted">Inclua um número do local, se houver</small>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Bairro</label>
                <input id="textinput" type="text" placeholder="Ex.: Centro"
                  class="form-control input  -md" formControlName="finish_neighbor" required>
              </div>
            </div>

            <div class="col-lg-9">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Cidade</label>
                <input id="textinput" type="text" placeholder="Ex.: São Paulo"
                  class="form-control input  -md" formControlName="start_city" required>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Estado</label>
                <input   id="textinput" type="text" placeholder="Ex.: SP"
                  class="form-control input  -md" formControlName="start_state" required>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Data do Evento</label>
                <input class="form-control select-locale border-input"
                       #dp="bsDatepicker"
                       bsDatepicker [(ngModel)]="event_date"
                       placeholder="Ex.: 01-03-2018"
                       [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                       formControlName="event_date" required>
               <small  class="form-text text-muted">Clique para selecionar a data</small>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Data Limite das Incrições</label>
                <input class="form-control select-locale border-input"
                       #dp="bsDatepicker"
                       bsDatepicker [(ngModel)]="subscription_end"
                       placeholder="Ex.: 01/03/2018"
                       [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                       formControlName="subscription_end" required>
                 <small  class="form-text text-muted">Clique para selecionar a data</small>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Número de Inscrições</label>
                <input id="textinput" type="text" placeholder="Ex.: 500"
                  class="form-control input  -md" formControlName="max_subscriptions" required>
                  <small  class="form-text text-muted">Informe o número máximo de inscrições para este evento</small>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Valor da Inscrição</label>
                <div class="input-group">
                   <div class="input-group-addon">R$</div>
                   <input   id="textinput" type="text" placeholder="Ex.: 120,00"
                     class="form-control input-md" formControlName="price" required>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <label for="textinput" style="padding-bottom: 7px;"><span class="data-req">*</span> Imagem do Evento</label>
              <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpeg,.png,.jpg" required>
              <small  class="form-text text-muted">Escolha uma imagem para representar o evento</small>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Hora de Início do Evento</label>
                <timepicker formControlName="start_hours" required></timepicker>
                <!-- <input class="form-control select-locale border-input"
                       #dp="bsDatepicker"
                       bsDatepicker [(ngModel)]="start_hours"
                       placeholder="Ex.: 10:00"
                       [bsConfig]="{ dateInputFormat: 'hh:mm:ss' }"
                       formControlName="start_hours"> -->
              </div>
            </div>

            <div class="col-lg-12">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Informações do Evento</label>
                <textarea id="textinput" type="text" placeholder="Ex.: O evento terá 80km em vias urbanas"
                  rows="4" class="form-control input  -md" formControlName="event_info" required></textarea>
              </div>
            </div>

            <!-- <div class="col-lg-6">
              <div class="form-group">
                <label for="textinput">Imagem do Evento</label>
                <input type="file" class="form-control-file" formControlName="photo">
                <small  class="form-text text-muted">Tamanho máximo: 180px x 180px</small>
              </div>
            </div> -->

            <!-- <div class="col-lg-6">
              <div class="form-group">
                <label for="textinput">Imagem do Kit Evento</label>
                <input type="file" class="form-control-file" formControlName="kit_image">
                <small  class="form-text text-muted"></small>
              </div>
            </div> -->

            <div class="col-lg-12">
              <div class="form-group">
                <label for="textinput">Descrição do Kit do Evento</label>
                <textarea  id="textinput" type="text" placeholder="Ex.: O kit conta com 01 capacete"
                  rows="3" class="form-control input  -md" formControlName="kit_description">
                </textarea>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> E-mail da Organização</label>
                <input id="textinput" type="text" placeholder="Ex.: meuevento@organização.com"
                  class="form-control input  -md" formControlName="contact_email" required>
                <small  class="form-text text-muted">Para contato com a organização do evento</small>
              </div>
            </div>

            <div class="col-lg-5">
              <div class="form-group">
                <label for="example-tel-input">Telefone da Organização</label>
                <input class="form-control input -md" id="example-tel-input"
                  type="tel" placeholder="Ex.: (11) 99992-2999" formControlName="contact_phone">
                <small  class="form-text text-muted">Para contato com a organização do evento</small>
              </div>
            </div>

            <div class="col-lg-8">
              <div class="form-group">
                <label for="textinput"><span class="data-req">*</span> Modalidade do Evento</label>
                <select class="form-control" formControlName="modality_id" required>
                <!-- <select class="custom-select" > -->
                  <option value="" disabled selected>Selecione sua opção</option>
                  <option *ngFor="let mod of modalities" [value]="mod.id">{{ mod.name }}</option>
                </select>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="form-group">
                <label for="textinput">Regulamento do Evento</label>
                <textarea id="textinput" type="text" placeholder="Ex.: Não será possível trocar o equipamento no decorrer da corrida"
                  rows="5" class="form-control input -md" formControlName="rules"></textarea>
              </div>
            </div>

            <div class="col-lg-12">
              <button type="submit" class="btn btn-light btn-send-contact">
                SALVAR
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
