@import "src/styles.scss";


.color-nav {
    background-color: #E51B3D;
}

.icon-bar {
    padding-right: 5px;
    margin-left: 80px;
    vertical-align: middle;
}

.space-link-nav {
  margin-right: 80px
}

.vertial-line-nav {
    margin-top: 1%;
    border-left: 1px solid;
    color: white;
}

.tabs-event-first {
    background-color: white;
    margin-left: 1.5%;
}

// ::ng-deep .customClass > a {
//   width: 10px;
// }

.name-organization {
  font-size: 15px;
  padding-top: 0%;
  padding-left: 4%;
  font-weight: 600;
}

.image-organization {
  padding-top: 1%;
  padding-left: 4%;
  float:left;
}

.organization-for {
  padding-top: 2%;
  padding-left: 4%;
  margin-bottom: 0.5%;
  color: #696969;
  font-weight: 700;
  font-size: 14px;
}

.container {
  height: 126%;
}

.explore-height-half {
    height: 400px;
    width: 100%;
}

.maps-event {
  border: 1px solid;
  margin-left: 6%;
}

.day-event {
  margin-top: -10%;
  font-weight: bold;
  color: red;
  font-size: 450%;
  text-align: center;
}

.days-event {
  font-weight: 400;
  color: red;
  font-size: 38px;
  padding-right: 10px;
  margin-top: -50px;
  padding-right: 45px;
  vertical-align: middle;
}

.title-iconfirst-date{
  margin-left: 11px;
  padding-right: 20px;
  color: #696969;
}

.box-block-time {
  border: 1px transparency;
  background-color: lightgrey;
  margin: 17.5% 6% 0 4%;
  background-color: #FBFBFB;
  text-align: center;
}

.box-block-share {
  margin: 10% 6% 0 4%;
  text-align: center;
}

.img-sponsors {
  margin-left: 8%;
  margin-top: 4%;
}

.img-event-relationship {
  margin-left: 2.6%;
  margin-top: 4%;
}

.box-block-pay {
  border: 1px transparency;
  background-color: lightgrey;
  margin: 10% 6% 0 4%;
  background-color: #FBFBFB;
  text-align: center;
}

.box-block-site {
  border: 1px transparency;
  background-color: lightgrey;
  margin: 10% 6% 0 4%;
  background-color: #FBFBFB;
  text-align: center;
  height: 20%;
}

.sponsors {
  padding-top: 20px;
  color: #696969;
}

.title-icon-date {
   padding-right: 20px;
   color: #696969;
}

.title-sponsors {
  padding-top: 20px;
  margin-left: 15px;
  font-weight: bold;
  color: #696969;
}

.inscription-event {
  background-color: #E51B3d;
  width: 70%;
  height: 45px;
  color: white;
  margin-top: 3%;
  font-size: 18px;
}

.wishlist {
  color: #E51B3d;
  width: 70%;
  margin-top: 3%;
}

.title-pay-event {
  font-weight: bold;
  color: #696969;
}

.title-event-relationship{
  font-weight: bold;
  color: #696969;
  padding-top: 10%;
  padding-left: 4%;
}

.title-event-relationship-two {
  font-weight: bold;
  color: #696969;
  padding-left: 3%;
  font-size: 15px;
  margin-bottom: 0%;
}

.subtitle-event-relationship-two {
  color: #696969;
  padding-left: 3%;
  font-size: 14px;
  margin-bottom: 0%;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.img-clock {
  margin-left: 8px;
  padding-right: 22px;
}

.date-event {
  margin-top: -34%;
  font-weight: bold;
  color: red;
  font-size: 16px;
  text-align: center;
}

.radius-event {
    position: absolute;
    background-color: white;
    bottom: 34%;
    padding: 0% 1% 1% 1%;
    margin-left: 3%;
    min-height: 120px;
    max-height: 1%;
    width: 120px;
    max-width: 30%;
    border-radius: 10%;
}

.name-event {
  margin-left: 160px;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0%;
}

.info-event {
  padding-top: 2%;
  padding-left: 0%;
  margin-bottom: 4%;
  color: #696969;
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
  text-justify: inter-word;
}

.city-event {
  margin-left: 160px;
  margin-bottom: 0%;
}

.open-event {
  padding-left: 18%;
  margin-bottom: 0%;
}

.cancel-event-block {
  padding-left: 18%;
  padding-bottom: 0.8%;
}

.date-event-block {
  margin-left: 160px;
}

 .content {
    position: inherit;
    bottom: 35%;
    background: rgba(3, 126, 178, 0.71); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    // margin-bottom: 3%;
    height: 35%;
    // margin-left: 1.6%;
}

.content-two {
  position: inherit;
  bottom: 17%;
  background: rgba(3, 126, 178, 0.71);
  color: #f1f1f1;
  width: 100.5%;
  max-width: 190px;
  height: 15%;
  margin-left: 4.5%;
}

.tab-content {
  background-color: white;
}
