<app-nav-event-details></app-nav-event-details>

<div class="container">

  <div class="row">
    <div class="col-md-1">
    </div>
      <div class="col-md-10" style="height: 401px;">
        <div *ngIf="event.photo != null">
          <div class="img-responsive explore-height-half" [ngStyle]="{'background-image': 'url(' + event.photo.event_show.url + ')'}">
          </div>
        </div>
        <div *ngIf="event.photo == null">
          <img src="http://res.cloudinary.com/dylp14eib/image/upload/c_scale,h_400,w_920/v1515874371/mtb20_zqfptz.jpg"
            class="img-responsive explore-height-half">
        </div>
        <div class="content">
          <div class="radius-event">
            <p class="day-event">{{ event.event_date.split('-')[2] }}</p>
            <p class="date-event">{{ event.event_date | date: "MMM" }}</p>
          </div>
          <p class="name-event">{{ event.name }}</p>
          <p class="city-event">
            <i class="fa fa-map-marker" style="padding-right: 1%;" aria-hidden="true"></i>
            {{ event.start_city }} - {{ event.start_state }}
          </p>
          <p class="date-event-block">
            <i class="fa fa-clock-o" style="padding-right: 1%;" aria-hidden="true"></i>
            {{ event.start_hours | date: 'shortTime' }}
          </p>
        </div>
      </div>

    <div class="col-md-1">
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-10">
      <mat-tab-group>

        <mat-tab label="INFORMAÇÕES" >
            <div class="tab-content" style="overflow: -webkit-paged-x; height 1100px;">
              <div class="row">

                <div class="col-md-6">
                  <p class="organization-for">Organizado por:</p>
                  <p class="name-organization">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                      {{ organization.name }}
                  </p>
                  <app-map></app-map>
                  <br>
                  <p class="info-event">{{ event.event_info }}</p>
                  <div style="text-align: center;">
                    <app-button-wishlist-inscription></app-button-wishlist-inscription>
                  </div>
                  <!-- <p class="title-event-relationship">Eventos Relacionados:</p>
                  <app-event-related></app-event-related> -->
                </div>
                <br>

                <div class="col-md-6">
                  <app-event-clock-pay></app-event-clock-pay>
                    <div style="text-align: center">
                      <button class="btn btn-primary btn-sm" style="width: 70%;" shareButton="facebook">
                        <i class="fa fa-share-alt" style="padding-right: 5%;" aria-hidden="true">
                        </i>COMPARTILHAR EVENTO
                      </button>
                    </div>
                  <app-button-facebook-sponsers></app-button-facebook-sponsers>
                </div>
              </div>
            </div>
        </mat-tab>

        <mat-tab label="MODALIDADES">
          <div class="tab-content" style="overflow: -webkit-paged-x; height 1100px;">
            <div class="row">
              <div class="col-md-6">
                <p class="organization-for">Organizado por:</p>

                <p class="name-organization">
                  <i class="fa fa-list-alt" aria-hidden="true"></i>
                    {{ organization.name }}
                </p>
                <br>
                <p class="title-event-relationship">Modalidades:</p>
                  <app-event-modalities></app-event-modalities>
              </div>

              <div class="col-md-6">
                <app-event-clock-pay></app-event-clock-pay>
                <div style="text-align: center">
                  <button class="btn btn-primary btn-sm" style="width: 70%;" shareButton="facebook">
                    <i class="fa fa-share-alt" style="padding-right: 5%;" aria-hidden="true">
                    </i>COMPARTILHAR EVENTO
                  </button>
                </div>
                <br>
                <div style="text-align: center;">
                  <app-button-wishlist-inscription></app-button-wishlist-inscription>
                </div>
                <app-button-facebook-sponsers></app-button-facebook-sponsers>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="REGULAMENTO">
          <div class="tab-content" style="overflow: -webkit-paged-x; height 1100px;">
              <div class="row">
                <div class="col-md-6">
                  <p class="organization-for">Organizado por:</p>
                  <p class="name-organization">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                      {{ organization.name }}
                  </p>
                  <br>
                  <p class="info-event">{{ event.rules }}</p>
                </div>

                <div class="col-md-6">
                  <app-event-clock-pay></app-event-clock-pay>
                  <div style="text-align: center">
                    <button class="btn btn-primary btn-sm" style="width: 70%;" shareButton="facebook">
                      <i class="fa fa-share-alt" style="padding-right: 5%;" aria-hidden="true">
                      </i>COMPARTILHAR EVENTO
                    </button>
                  </div>
                  <br>
                  <div style="text-align: center;">
                    <app-button-wishlist-inscription></app-button-wishlist-inscription>
                  </div>
                  <app-button-facebook-sponsers></app-button-facebook-sponsers>
                </div>
              </div>
          </div>
        </mat-tab>

        <mat-tab label="ENTREGA DO KIT">
          <div class="tab-content" style="overflow: -webkit-paged-x; height 1100px;">
            <div class="row">
              <div class="col-md-6">
                <p class="organization-for">Organizado por:</p>
                <p class="name-organization">
                  <i class="fa fa-list-alt" aria-hidden="true"></i>
                    {{ organization.name }}
                </p>
                <br>
                <img src="http://res.cloudinary.com/dylp14eib/image/upload/c_scale,h_220,w_450/v1516057420/foto-kit_wir0er.png" alt="">
                <br>

                <p class="info-event">{{ event.kit_description }}</p>
              </div>

              <div class="col-md-6">
                <app-event-clock-pay></app-event-clock-pay>
                <div style="text-align: center">
                  <button class="btn btn-primary btn-sm" style="width: 70%;" shareButton="facebook">
                    <i class="fa fa-share-alt" style="padding-right: 5%;" aria-hidden="true">
                    </i>COMPARTILHAR EVENTO
                  </button>
                </div>
                <br>
                <div style="text-align: center;">
                  <app-button-wishlist-inscription></app-button-wishlist-inscription>
                </div>
                <app-button-facebook-sponsers></app-button-facebook-sponsers>
              </div>
            </div>
          </div>
        </mat-tab>

        <!-- <mat-tab label="PONTO DE VENDAS">
          <div class="tab-content" style="overflow: -webkit-paged-x; height 1100px;">
            <div class="row">
              <div class="col-md-6">
                <p class="organization-for">Organizado por:</p>
                <p class="name-organization">
                  <i class="fa fa-list-alt" aria-hidden="true"></i>
                    {{ organization.name }}
                </p>
                <br>
              </div>

              <div class="col-md-6">
                <app-event-clock-pay></app-event-clock-pay>
                <div style="text-align: center">
                <button class="btn btn-primary btn-sm" style="width: 70%;" shareButton="facebook">
                  <i class="fa fa-share-alt" style="padding-right: 5%;" aria-hidden="true">
                  </i>COMPARTILHAR EVENTO
                </button>
                </div>
                <br>
                <div style="text-align: center;">
                  <app-button-wishlist-inscription></app-button-wishlist-inscription>
                </div>
                <app-button-facebook-sponsers></app-button-facebook-sponsers>
              </div>
            </div>
          </div>
        </mat-tab> -->

        <mat-tab label="CONTATOS">
          <div class="tab-content" style="overflow: -webkit-paged-x; height 1100px;">
            <div class="row">
              <div class="col-md-6">
                <p class="organization-for">Organizado por:</p>
                <p class="name-organization">
                  <i class="fa fa-list-alt" aria-hidden="true"></i>
                    {{ organization.name }}
                </p>
                <br>
                <app-form-contact></app-form-contact>
              </div>

              <div class="col-md-6">
                <app-event-clock-pay></app-event-clock-pay>
                <div style="text-align: center">
                  <button class="btn btn-primary btn-sm" style="width: 70%;" shareButton="facebook">
                    <i class="fa fa-share-alt" style="padding-right: 5%;" aria-hidden="true">
                    </i>COMPARTILHAR EVENTO
                  </button>
                </div>
                <br>
                <div style="text-align: center;">
                  <app-button-wishlist-inscription></app-button-wishlist-inscription>
                </div>
                <app-button-facebook-sponsers></app-button-facebook-sponsers>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="col-md-1">
    </div>
  </div>

</div>
<app-footer></app-footer>
