// @import "src/app/page-filter/page-filter.component";
//
// .filter-intro {
//   padding: 10px;
//   margin: 0 auto;
//   text-align: left;
//   margin-left: 30px;
// }
//
// .left-addon .fa-search  { left:  10%;}
//
// .inner-addon {
//   width: 70%;
//   max-width: 871px;
//   margin-left: 10%;
//   padding-left: 10px;
// }
//
// .main-box-filter {
//   height: 50px;
// }
//
// .text-muted {
//   margin-left: 2px;
// }
//
// .form-control {
//   padding: 7px 0px 10px 20px;
//   color: #E51B3D;
// }
//
// .icon-color {
//   color: #E51B3D;
// }
//
// ::placeholder {
//   color: #E51B3D;
//   margin-left: 10px;
// }
//
// .border-input {
//   border-color: #E51B3D;
// }
//
// .navbar a {
//   color: #007FAD;
//   font-size: 1.25em;
// }
//
// .btn-round-lg{
//   border-radius: 22.5px;
//   background-color: #f11f4b !important;
//   border: none;
//   color: white;
//   padding: 10px 30px;
// }
//
// .btn-round{
// border-radius: 17px;
// background-color: #f11f4b !important;
// border: none;
// }
// .btn-round-sm{
// border-radius: 15px;
// background-color: #f11f4b !important;
// border: none;
// }
// .btn-round-xs{
// border-radius: 11px;
// padding-left: 10px;
// padding-right: 10px;
// background-color: #f11f4b !important;
// border: none;
// }
