<!-- <div class="main-box-filter">
  <br>
    <nav class="navbar navbar-light bg-light justify-content-between" style="padding-left:50px">
      <div class="inner-addon left-addon">
        <i class="fa fa-search icon-color" style="left: -112px;" aria-hidden="true">
        <span style="font-size: 18px;">Pesquisar</span>
        </i>
          <input min-chars="3" auto-complete [(ngModel)]="searchModel"
                 [source]="arrayAutocomplete" type="text"
                 (keydown)="onEvent($event)" [value]="query"
                 (input)="query = $event.target.value" class="form-control border-input"
                 placeholder="Digite sua busca aqui">
      </div>
    </nav>
</div>
<hr>
<br> -->

<!-- <app-filter></app-filter> -->
