.news-btn {
  margin-left: 10px !important;
  border-radius: 25px;
  padding: 0 20px;
  .btn-round {
    border-radius: 25px;
    padding: 0 30px;
    background-color: #F11F4B !important;
    color: aliceblue;
  }
}

.news-form {
  margin-top: 30px;
  margin-right: 10px;
  .form-round {
    border-radius: 25px;
  }  
}