<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group news-form">
        <input type="text" class="form-control form-round" placeholder="Insira seu e-mail aqui">
        <span class="input-group-btn  news-btn">
          <button class="btn btn-round btn-lg" type="button">Cadastrar</button>
        </span>
      </div>
    </div>
  </div>
</div>
