@import "src/app/profile-organizer/my-events/my-events.component.scss";

.img-sponsors {
  width: 180px;
  height: 160px;
  text-align: center;
  margin-top: 0px;
}

.vertical-color {
    border-left: 1px solid;
    color: white;
    padding-left: 8px;
}

.open-vertical-color {
    color: white;
    padding-right: 8px;
}

.another-events {
  color: #037EB2;
  border: 1px solid;
  width: 100px;
  height: 100px;
}
