<ul class="dropdown-menu" style="width: 98%;" aria-labelledby="dropdownMenuButton">
  <div class="row">
    <div class="col-md">
      <li class="my-dropdown-item">
          <form class="form-inline">
              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="state-select-place" >
                <option value="1">São Paulo</option>
                <option value="2">Rio de Janeiro</option>
              </select>

              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="city-select" >
                <option value="1">São José do Rio Preto</option>
                <option value="2">São Paulo</option>
              </select>
          </form>

      </li>
    </div>
  </div>
</ul>
