.top-header {
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 50px;
  background-color: #F7F7F7;
  border-top: 2px solid #9e9e9e;
}
.footer-header {
  margin-top: 40px;
  text-align: center;
}