<div class="top-header">
  <div class="footer-header">
    <h2>FIQUE POR DENTRO</h2>
    <p>Assine gratuitamente a nossa newsletter e fique por dentro de todos os eventos</p>
  </div>
  <app-news-form></app-news-form>
</div>
