<img src="http://res.cloudinary.com/dylp14eib/image/upload/v1516057420/foto-perfil_pecr9u.png"
class="img-responsive img-profile" alt="">
<br>

<a href="#" class="change-color-icon">
  <i class="fa fa-camera" aria-hidden="true"></i>
  <span class="title-edit">Editar Foto</span>
</a>
<hr>

<h5>Atleta Fulano de Tal</h5>
<br>

<a href="#" class="title-menu-organizer" routerLink="/profile-athlete/my-inscriptions">
  <i class="fa fa-bicycle change-color-icon" aria-hidden="true"></i>Minhas inscrições
</a>
  <a href="#" class="title-menu-organizer" routerLink="/profile-athlete/data-athlete">
    <i class="fa fa-user-o change-color-icon" aria-hidden="true"></i>Meus dados
  </a>
    <a href="#" class="title-menu-organizer" routerLink="/profile-athlete/financial">
      <i class="fa fa-usd change-color-icon" aria-hidden="true"></i>Financeiro
    </a>
      <a href="#" class="title-menu-organizer" routerLink="/profile-athlete/events-history">
        <i class="fa fa-history change-color-icon" aria-hidden="true"></i>Histório de eventos
      </a>
    <a href="" class="title-menu-organizer" routerLink="/profile-athlete">
      <i class="fa fa fa-child change-color-icon" aria-hidden="true"></i>Dependentes
    </a>
  <a href="" class="title-menu-organizer" routerLink="/profile-athlete">
    <i class="fa fa-users change-color-icon" aria-hidden="true"></i>Equipes
  </a>
<a href="#" class="title-menu-organizer">
  <i class="fa fa-sign-out change-color-icon" aria-hidden="true"></i>Fazer logout
</a>
