<app-profile-organizer></app-profile-organizer>

<div class="row space-layout">

  <div class="col-md-3 color-block-profile">
    <div class="align-menu">
      <app-menu-profile-organizer></app-menu-profile-organizer>
    </div>
  </div>

  <div class="col-md-9">
    <div class="align-menu">
      <div class="block-profile">
        <h1 class="title-form-organizer">Inscritos</h1>

            <div class="inner-addon left-addon">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="search" class="form-control" id="FormControlInput1"
                placeholder="Busque por nome, e-mail ou CPF">
            </div>
            <br>


        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">E-mail</th>
              <th scope="col">Aniverśario</th>
              <th scope="col">Idade</th>
              <th scope="col">Telefone</th>
              <th scope="col">Estado</th>
              <th scope="col">Cidade</th>
              <th scope="col">CPF</th>
            </tr>
          </thead>
          <tbody *ngFor="let athlete of athletes">
            <tr *ngFor="let ath of athlete">
              <td>{{ ath.name }}</td>
              <td>{{ ath.email }}</td>
              <td>{{ ath.birth_date }}</td>
              <td>??</td>
              <td>{{ ath.phone }}</td>
              <td>{{ ath.state }}</td>
              <td>{{ ath.city }}</td>
              <td>{{ ath.cpf }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
