@import "src/styles.scss";
@import "src/app/shared/event-modalities/event-modalities.component.scss";


.btn-clear-filter {
  width: 295px;
  font-size: 15px;
  font-weight: 600;
  color: #495057;
  background-color: #d5d9dc;
  border: 1px solid transparent;
}

.title-filter-event {
  font-weight: bold;
  color: #696969;
}

.subtitle-filter-event {
  font-weight: 400;
  color: #696969;
  margin-bottom: 2px;
}

.content-first {
  margin-left: 5%;
  margin-top: 30px;
}

.chips-search {
  text-align: center;
  width: 20%;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa-search {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa-search  { left:  90%;}
.right-addon .fa-search { right: 0px;}

/* add padding  */
// .left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.title-icon {
  color: #007FAD;
  padding-bottom: 4%;
}

.select-locale {
  margin-bottom: 2%;
  width: 70%;
}

.border-input {
  border-radius: 15px;
}

.form-check-label {
  padding-left: 0.5%;
  color: #495057
}

.radio-position {
  margin-left: 10%;
  margin-top: 2%;
}

.btn-toggle {
  font-size: 15px;
  font-weight: 600;
  color: #495057;
}

.img-event-filter {
  margin-left: 2.6%;
  width: 280px;
  height: 230px;
  border-radius: 10px;
}

.content-two-filter {
  position: inherit;
  bottom: 50px;
  background: rgba(3, 126, 178, 0.71);
  color: #f1f1f1;
  width: 280px;
  max-width: 280px;
  height: 50px;
  margin-left: 2.6%;
  border-radius: 0px 0px 10px 10px;
}

.open-event {
  text-align: center;
  padding-left: 0%;
}

.btn-inscription-event {
  background-color: #E51B3d;
  height: 30px;
  width: 160px;
  color: white;
  margin-top: 9px;
  margin-bottom: 12px;
  font-size: 14px;
}

.radius-event {
  bottom: 134px;
  padding: 1px;
  min-height: 80px;
  max-height: 1%;
  width: 90px;
  max-width: 38%;
}

.day-event {
  margin-top: -18px;
  font-weight: bold;
  color: red;
  font-size: 58px;
  text-align: center;
}

.property-indication-wishlist{
    .wishlist-btn{
      border: none;
      background-color: #fff;
    }
    .signed{
      font-size: 20px;
      color: $template-color-1;
    }
    .unsigned{
      font-size: 20px;
      color: $template-color-1;
    }
  }
