<div style="padding-left: 4%;">
  <form [formGroup]="contactForm" (ngSubmit)="save()">
    <div class="form-group">
      <label for="textinput">Nome</label>
      <input id="textinput" type="text" placeholder="Digite seu nome..." class="form-control input -md" formControlName="name">
    </div>
    <div class="form-group">
      <label for="textinput">Email</label>
      <input id="textinput" type="text" placeholder="Digite seu email..." class="form-control input -md" formControlName="email">
    </div>
    <div class="form-group">
      <label for="textinput">Assunto</label>
      <input id="textinput" type="text" placeholder="Digite o assunto do contato..." class="form-control input -md" formControlName="title">
    </div>
    <div class="form-group">
      <label for="textinput">Descrição</label>
      <textarea id="textinput"  type="text" placeholder="Descreva o que deseja..." class="form-control input  -md" formControlName="description"></textarea>
    </div>
    <button type="submit" class="btn btn-light btn-send-contact">
      ENVIAR
    </button>
  </form>
</div>
