@import "src/app/event/event-details/event-details.component.scss";


.btn-send-contact {
  background-color: #E51B3d;
  width: 30%;
  height: 35px;
  color: white;
  margin-top: 2%;
  font-size: 16px;
}
