<ul class="dropdown-menu" style="width: 98%;" aria-labelledby="dropdownMenuButton">
    <div class="row">
      <div class="col-md">
        <li class="my-dropdown-item">

            <form class="form-inline">
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="state-select">
                  <option selected>TIPO DO EVENTO</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>

                  <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioType" value="option1">
                    Outros
                  </label>

            </form>

        </li>
      </div>
    </div>
  </ul>
