<app-profile-organizer></app-profile-organizer>

  <div class="row space-layout">

    <div class="col-md-3 color-block-profile">
      <div class="align-menu">
        <app-menu-profile-organizer></app-menu-profile-organizer>
      </div>
    </div>

      <div class="col-md-9">
        <div class="align-menu">
          <h1 class="title-form-organizer">Meus dados</h1>
          <div class="block-profile">
            <form [formGroup]="editForm" (ngSubmit)="save()" *ngIf="organization">
              <div class="row">
                <div class="col-lg-12">
                    <h4 class="subtitle-form-organizer">Editar Dados</h4>
                    <small  class="form-text text-muted">
                    (<span class="data-req">*</span>) Campo obrigatório</small>
                  <hr>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="textinput"><span class="data-req">*</span> Nome</label>
                    <input id="textinput" type="text" placeholder="Ex.: Bill Gates"
                      class="form-control input-md" formControlName="name">
                    <!-- <small  class="form-text text-muted">.</small> -->
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="textinput"><span class="data-req">*</span> E-mail</label>
                    <input id="textinput" type="text" placeholder="bill@gmail.com"
                      class="form-control input-md" formControlName="email">
                    <!-- <small  class="form-text text-muted">.</small> -->
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="textinput">Data de Nascimento</label>
                    <input class="form-control select-locale border-input"
                           #dp="bsDatepicker"
                           bsDatepicker [(ngModel)]="birthday"
                           placeholder="Ex.: 25/10/1955"
                           [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                           formControlName="birthday">
                     <small  class="form-text text-muted">Clique para selecionar a data.</small>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="textinput">Gênero</label>
                    <select class="form-control" formControlName="gender">
                    <!-- <select class="custom-select" > -->
                      <option value="" disabled selected>Selecione uma opção</option>
                      <option value="Feminino">Feminino</option>
                      <option value="Masculino">Masculino</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="example-tel-input"><span class="data-req">*</span> Telefone/Celular</label>
                    <input class="form-control input -md" id="example-tel-input"
                      type="tel" placeholder="Ex.: (11) 99992-2999" formControlName="phone">
                    <small  class="form-text text-muted">Telefone de contato para o Obiker contatá-lo se necessário.</small>
                  </div>
                </div>


                <div class="col-lg-1">
                </div>

                <div class="col-lg-4">
                  <div  *ngIf="organization.photo">
                    <div *ngIf="organization.photo == null || organization.photo == ''">
                      <i class="fa fa-organization-circle organization-icon"></i>
                    </div>
                    <div *ngIf="organization.photo.url != null">
                      <div class="" [ngStyle]="{'background-image': 'url(' + img + ')'}">
                      </div>
                    </div>
                  </div>

                  <label for="textinput"><span class="data-req">*</span> Foto do Perfil</label>
                  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpeg,.png,.jpg">
                  <small  class="form-text text-muted" style="padding-top: 8px">Dimensões sugeridas: 220px x 190px, formato: jpeg, png ou jpg.</small>
                </div>


                <div class="col-lg-12">
                  <button type="submit" class="btn btn-light btn-send-contact">
                    SALVAR
                  </button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
<app-footer></app-footer>
