<div class="container">
  <h1 class="well">Registro do Atleta</h1>
<div class="col-lg-12 well">
<div class="row">
      <form  enctype="multipart/form-data" (ngSubmit)="athleteSignUp(f)" #f="ngForm">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12 form-group" style="width: 650px;">
              <label>Nome</label>
              <input type="text" placeholder="Seu Nome.." class="form-control" id="reg_athlete_name" name="reg_athlete_name" ngModel>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label>E-mail</label>
              <input type="email" placeholder="Seu E-mail.." class="form-control" id="reg_athlete_email" name="reg_athlete_email" ngModel>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label>Senha</label>
              <input type="password" placeholder="Senha..." rows="3" class="form-control" id="reg_athlete_password" name="reg_athlete_password" ngModel>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label>Confirme sua Senha</label>
              <input type="password" placeholder="Redigite sua Senha..." rows="3" class="form-control" id="reg_athlete_password_confirmation" name="reg_athlete_password_confirmation" ngModel>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-sm-12 form-group">
              <label>CPF</label>
              <input placeholder="Cpf..." rows="3" class="form-control" id="reg_athlete_cpf" name="reg_athlete_cpf" ngModel>
            </div> -->
          </div>
          <div class="row">
            <!-- <div class="col-sm-8 form-group">
              <label>Gênero</label>
              <input placeholder="Seu Genero..." rows="3" class="form-control" id="reg_athlete_gender" name="reg_athlete_gender" ngModel>
            </div>
            <div class="col-sm-4 form-group">
              <label>Nascimento</label>
              <input placeholder="Eu nasci..." rows="3" class="form-control" id="reg_athlete_birth_date" name="reg_athlete_birth_date" ngModel>
            </div> -->
          </div>
          <div class="row">
            <!-- <div class="col-sm-12 form-group">
              <label class="custom-file">
                <input type="file" class="custom-file-input form-control" id="reg_athlete_avatar" name="reg_athlete_avatar" ngModel>
                <span class="custom-file-control"></span>
              </label> -->

              <!-- <label>Foto</label>
              <input placeholder="Seu Bairro..." rows="3" class="form-control" id="reg_organization_neighbor" name="reg_organization_neighbor" ngModel> -->
            <!-- </div> -->

          </div>
        </div>
        <button type="submit" class="btn btn-lg btn-info">Enviar</button>
        <br>
      </form>
      </div>

      <div>
          <hr>
          <i>
            <a href="/" class="btn btn-outline-primary">Voltar</a>
          </i>
    </div>

  </div>
</div>
