<div class="main-box-filter">
  <br>
    <nav class="navbar navbar-light bg-light justify-content-between" style="padding-left:50px">
      <div class="inner-addon left-addon">
        <i class="fa fa-search icon-color" style="left: -112px;" aria-hidden="true">
        <span style="font-size: 18px;">Pesquisar</span>
        </i>
          <input min-chars="3" auto-complete [(ngModel)]="searchModel"
                 [source]="arrayAutocomplete" type="text" [value]="query"
                 (input)="query = $event.target.value" class="form-control border-input"
                 placeholder="Digite sua busca aqui">
      </div>
    </nav>
</div>
<br>

<ul class="nav text-center align-midle filter-row dropdown-menu[_ngcontent-c16]" [ngClass]="{'open':shouldShow}" style="">
  <li  class="col-sm btn-filter dropdown" style="position: initial;">
    <button (click)="openDropdown()"  type="button" id="dropdown-place-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary btn-round-lg btn-lg btn-block filter-button"><span><img src="../../assets/images/place.svg" alt=""> </span>LOCAL<span><img class="arrow-down ml-auto" src="../../assets/images/arrow-down.svg" alt=""> </span></button>
    <app-place-dropdown></app-place-dropdown>
  </li>
  <li class="col-sm btn-filter dropdown" style="position: initial;">
    <button (click)="openDropdown()" type="button" id="dropdown-date-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  class="btn btn-primary btn-round-lg btn-lg btn-block filter-button "><span><img src="../../assets/images/calendar.svg" alt=""> </span>DATA<span><img class="arrow-down ml-auto" src="../../assets/images/arrow-down.svg" alt=""> </span></button>
    <app-date-dropdown></app-date-dropdown>
  </li>
  <li class="col-sm btn-filter dropdown" style="position: initial;">
    <button (click)="openDropdown()" type="button"  id="dropdown-mode-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  class="btn btn-primary btn-round-lg btn-lg btn-block filter-button "><span><img src="../../assets/images/bicycle.svg" alt=""> </span>MODALIDADES<span><img class="arrow-down ml-auto" src="../../assets/images/arrow-down.svg" alt=""> </span></button>
    <app-mode-dropdown></app-mode-dropdown>
  <li class="col-sm btn-filter dropdown" style="position: initial;">
    <button (click)="openDropdown()" type="button"  id="dropdown-type-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"   class="btn btn-primary btn-round-lg btn-lg btn-block filter-button "><span><img src="../../assets/images/trophy.svg" alt=""> </span>TIPO DE EVENTO<span><img class="arrow-down ml-auto" src="../../assets/images/arrow-down.svg" alt=""> </span></button>
    <app-type-dropdown></app-type-dropdown>
  </li>
  <li class="col-sm btn-filter">
    <button type="button" (click)="onSubmit()"
      class="btn btn-primary btn-round-lg btn-lg btn-block descript" href="/page-filter">
        APLICAR FILTRO
    </button>

    <!-- <a href="/page-filter" class="btn btn-primary btn-round-lg btn-lg btn-block descript">APLICAR FILTRO</a> -->
  </li>
</ul>
