ul { list-style-type: none; }


/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa-search {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .fa-search  { left:  10%;}

.inner-addon {
  width: 70%;
  max-width: 871px;
  margin-left: 10%;
  padding-left: 10px;
}

.form-control {
  padding: 7px 0px 10px 20px;
  color: #E51B3D;
  border-radius: 500px;
}

.icon-color {
  color: #E51B3D;
}

::placeholder {
  color: #E51B3D;
  margin-left: 10px;
}

.border-input {
  border-color: #E51B3D;
}

.navbar a {
  color: #007FAD;
  font-size: 1.25em;
}

.btn-filter{
  padding: 0;
}

.open {
  margin-bottom: 210px;
}

.btn-filter button span img{
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
  color: #0080A8;
}
.filter-row {
  padding: 0;
}

.filter-button{
  border: 1px solid #e3d9db;
  background-color: #FBFBFB;
  color: #007FAD;
}
.descript{
  border: 1px solid #e3d9db;
  color: #FBFBFB;
  background-color: #007FAD;
  padding-bottom: 13px;
}

.arrow-down{
  width: 10px !important;
  margin-left: 20px !important;
}
