<footer>
<div class="footer-middle">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-12">
        <!--Column1-->
        <div class="footer-pad">
          <a class="navbar-brand font-btn-nav" style="color: white" href="#">
            <img src="../../assets/images/obiker-eventos-logo.png"
              class="img-responsive img-front">
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 divider">
        <!--Column1-->
        <div class="footer-pad">
          <h4>CONTATO</h4>
          <div class="no-decorator">
            <h5><span class="icon-footer"><img src="../../../../assets/images/icone-telefone.png" alt=""></span> 22 3333 4444  </h5>
            <h5><span class="icon-footer"><img src="../../../../assets/images/icone-email.png" alt=""></span>obiker@email.com</h5>
            <h5><span class="icon-footer"><img src="../../../../assets/images/icone-facebook.png" alt=""></span>Facebook</h5>
            <button class="btn btn-outline btn-round">Entre em contato conosco</button>

					</div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 divider">
        <!--Column1-->
        <div class="footer-pad">
          <h4>OBIKER EVENTOS</h4>
          <div class="no-decorator">
            <h5> <a href="#">Quem somos</a> </h5>
            <h5> <a href="#">Entre em contato</a> </h5>
            <h5> <a href="#">Termos e condições</a> </h5>
            <h5> <a href="#">Publique seu evento</a> </h5>
            <h5> <a href="#">Inscreva-se</a> </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</footer>
