footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #666666;
  border-top: 4px solid #FFFFFF;
  background-color: #F7F7F7;
}

.img-front {
  position: absolute;
  left: 0px;
  top: 5px;
  z-index: 1;
  width: 160px;
  height: 150px;
  margin-left: 20px;
}

.footer-pad {
  line-height: 2.5em;
}

.icon-footer {
  margin-right: 10px;
  color: #666666;
}
.btn-round {
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px 30px;
  border: 1px solid #666666;
  background-color: #F7F7F7 !important;
  color: #666666;
}

.divider {
  border-left: 2px solid #666666;

}

.no-decorator {
  a {
    color: inherit;
    text-decoration: none;
  }
  h5 {
    line-height: 1.5em;
  }
}
