<div class="container">
  <div class="row">
      <div class="col-md-12" style="height: 401px;">
        <app-wishlist-icon></app-wishlist-icon>
        <!-- <div *ngIf event.image;else fakeImage>
          <img src={{ event.image }}
          class="img-responsive explore-height-half">
        </div> -->
        <!-- <div id="fakeImage"> -->
        <carousel *ngIf="events != null">
          <slide *ngFor="let event of events">
            <div *ngIf="event.photo != null">
              <div class="img-responsive explore-height-half" [ngStyle]="{'background-image': 'url(' + event.photo.big_main_event.url + ')'}">
              </div>
            </div>
          <div *ngIf="event.photo == null">
            <img src="http://res.cloudinary.com/dylp14eib/image/upload/v1515874371/mtb20_zqfptz.jpg"
             alt="First slide" class="img-responsive explore-height-half" style="display: block;">
          </div>
          <!-- </div> -->
            <div class="content">
              <div class="radius-event">
                <p class="day-event">{{ event.event_date.split('-')[2] }}</p>
                <p class="date-event">{{ event.event_date | date: 'MMM' }}</p>
              </div>
              <p class="name-event">{{ event.name }}</p>
              <p class="city-event">
                <i class="fa fa-map-marker" style="padding-right: 1%;" aria-hidden="true"></i>
                {{ event.start_city }}, {{ event.start_state }}
              </p>
              <p class="date-event-block">
                <i class="fa fa-clock-o" style="padding-right: 1%;" aria-hidden="true"></i>
                {{ event.start_hours | date: 'shortTime' }}
              </p>
            </div>
            <a href="" class="d-none d-md-block btn btn-primary btn-round-lg btn-lg jumbo-btn" target="_blank" [routerLink]="['/event', event.id]">INSCREVA-SE!</a>
            <a href="" class="d-md-none btn btn-primary btn-round-lg btn-lg main-small-event" target="_blank" [routerLink]="['/event', event.id]">INSCREVA-SE!</a>
          </slide>
        </carousel>

        <div *ngIf="events == null">
          <carousel >
            <slide>
                <img src="http://res.cloudinary.com/dylp14eib/image/upload/v1515874371/mtb20_zqfptz.jpg"
                 alt="First slide" class="img-responsive explore-height-half" style="display: block;">
            </slide>
            <slide>
              <img src="http://res.cloudinary.com/dylp14eib/image/upload/v1515874371/mtb20_zqfptz.jpg"
               alt="First slide" class="img-responsive explore-height-half" style="display: block;">
            </slide>
            <slide>
              <img src="http://res.cloudinary.com/dylp14eib/image/upload/v1515874371/mtb20_zqfptz.jpg"
               alt="First slide" class="img-responsive explore-height-half" style="display: block;">
            </slide>
          </carousel>
        </div>

      </div>


  </div>
</div>
