@import "src/styles.scss";
.main-small-event {
  // position: absolute;
  // top: 50px !important;
  // bottom: 310px !important;
  // left: 40px !important;
  // right: 150px !important;
  position: relative;
  top: -129px !important;
  bottom: 190px !important;
  left: 171px !important;
  right: 150px !important;
}

.box-date {
  background-color: #fff;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 30px;
  left: 50px;
  z-index: 100;
  padding: 10px;
  border: 2px solid #cccccc;
  border-radius: 20px;
}

.box-date h3 {
  color: red;
  font-size: 2.5em;
  font-weight: 700;
}

.box-date p {
  font-size: 1.2em;
  color: rgb(145, 0, 0);
  margin-top: -15px;
}

.main-event {
  margin-top: 60px;
  background-color: #FBFBFB;
}

.main-event-image {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

.main-event h3 {
  color: #252525;
}

.sub-text {
  font-size: 12px;
  margin-left: 10px;
}


.inscription-position {
  position: inherit;
  bottom: 10%;
  right: 5%;
  background-color: #E51B3d;
  width: 20%;
  height: 35px;
  color: white;
  border: none;
}



.container {
  height: 126%;
}

.explore-height-half {
    border-radius: 25px;
    height: 400px;
    width: 100%;
}

.maps-event {
  border: 1px solid;
  margin-left: 6%;
}

.day-event {
  margin-top: -12%;
  font-weight: bold;
  color: red;
  font-size: 390%;
  text-align: center;
}



.wishlist {
  color: #E51B3d;
  width: 70%;
  margin-top: 3%;
}



.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.img-clock {
  margin-left: 8px;
  padding-right: 40px;
}

.date-event {
  margin-top: -34%;
  font-weight: bold;
  color: red;
  font-size: 16px;
  text-align: center;
}

.radius-event {
    position: absolute;
    background-color: white;
    bottom: 34%;
    padding: 0% 1% 1% 1%;
    margin-left: 3%;
    min-height: 100px;
    max-height: 1%;
    width: 100px;
    max-width: 30%;
    border-radius: 10%;
}

.name-event {
  margin-left: 160px;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0%;
}

.city-event {
  margin-left: 160px;
  margin-bottom: 0%;
}

.open-event {
  padding-left: 18%;
  margin-bottom: 0%;
}

.cancel-event-block {
  padding-left: 18%;
  padding-bottom: 0.8%;
}

.date-event-block {
  margin-left: 160px;
}

 .content {
  position: fixed;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 0px;
  background: rgba(3, 126, 178, 0.71);
  color: #f1f1f1;
  width: 100%;
  height: 25%;
}

ol.carousel-indicators {
    top: 40px;
}

.content-two {
  position: inherit;
  bottom: 17%;
  background: rgba(3, 126, 178, 0.71);
  color: #f1f1f1;
  width: 100.5%;
  max-width: 190px;
  height: 15%;
  margin-left: 4.5%;
}

.tab-content {
  background-color: white;
}

.btn-round-lg{
  border-radius: 22.5px;
  background-color: #f11f4b !important;
  border: none;
  }
.btn-round{
border-radius: 17px;
background-color: #f11f4b !important;
border: none;
}
.btn-round-sm{
border-radius: 15px;
background-color: #f11f4b !important;
border: none;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
background-color: #f11f4b !important;
border: none;
}

.jumbo-btn {
  // right: 80px;
  z-index: 1000;
  position: absolute;
  right: 100px;
  bottom: 30px;
}
