.jumbotron {
  position: relative;
  background-image: url('http://res.cloudinary.com/dylp14eib/image/upload/c_scale,h_600,w_1351/v1516057424/bg-page-inicial_vnjhwy.png');
  background-size: cover;
  width: 100%;
  height: 550px;
  margin-bottom: 0;
  margin-top: 0;
}
.btn-round-lg{
  border-radius: 22.5px;
  background-color: #f11f4b !important;
  border: none;
  }
.btn-round{
border-radius: 17px;
background-color: #f11f4b !important;
border: none;
}
.btn-round-sm{
border-radius: 15px;
background-color: #f11f4b !important;
border: none;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
background-color: #f11f4b !important;
border: none;
}

.jumbo-btn {
  position: absolute;
  right: 80px;
  bottom: 30px;
}
.jumbo-btn-store {
  margin-right: 30px;
}

.jumbo-btn-store span img {
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
}
.jumbo-btn-event span img {
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
}
