<div class="jumbotron jumbotron-fluid" style="padding-top: 0">
  <div class="container">
    <div class="row jumbo-btn">
      <button type="button" class="btn btn-primary btn-round-lg btn-lg jumbo-btn-store"><span><img src="../../../assets/images/cart.svg" alt=""> </span>loja OBiker</button>
      <div *ngIf="!isLogged">
        <button type="button" (click)="onSubmit()"
          class="btn btn-primary btn-round-lg btn-lg jumbo-btn-event" target="_blank" routerLink="/organization-login">
          <span><img src="../../../assets/images/megaphone.svg" alt="">
            Cadastre seu evento
         </span>
       </button>
      </div>

      <div *ngIf="isLogged">
        <a 
          class="btn btn-primary btn-round-lg btn-lg jumbo-btn-event" routerLink="/profile-organizer/my-events">
          <span><img src="../../../assets/images/megaphone.svg" alt="">
            Cadastre seu evento
         </span>
       </a>
      </div>
    </div>
  </div>
</div>
