.wish-icon {
  top: -60% !important;
  right: -90%;
}
.all-events-btn {
  margin-top: 60px;
  margin-bottom: -30px;
}
.center-btn {
  margin-left: 0 auto;
  margin-bottom: 80px;
  background-color: #E7E7E7 !important;
  color: #f11f4b;
  &:hover {
    background-color: rgba(231, 231, 231, 0.521) !important;
  }
}
.btn-round-lg{
  border-radius: 22.5px;
  border: none;
  }
.btn-round{
border-radius: 17px;
background-color: #f11f4b !important;
border: none;
}
.btn-round-sm{
border-radius: 15px;
background-color: #f11f4b !important;
border: none;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
background-color: #f11f4b !important;
border: none;
}

.jumbo-btn {
  position: absolute;
  right: 80px;
  bottom: 30px;
}
.jumbo-btn-store {
  margin-right: 30px;
}
