@import "src/app/event/event-details/event-details.component.scss";

.box-block-modalities {
  border: 1px transparency;
  background-color: lightgrey;
  background-color: #FBFBFB;
  height: 20%;
}


.content-bar-img {
  position: inherit;
  bottom: 72%;
  background: rgba(3, 126, 178, 0.71);
  color: #f1f1f1;
  width: 79.5%;
  max-width: 121px;
  height: 66%;
  margin-left: 12px;
}
