<div class="box-block-modalities">
  <div class="row">
    <div class="col-md">
      <img src="http://res.cloudinary.com/dylp14eib/image/upload/c_scale,h_140,w_150/v1516057420/foto-perfil_pecr9u.png"
       alt="">

      <div class="content-bar-img">
        <div class="open-event">
          <a href="#" style="color: white;">
            <h4><b>MTB</b></h4>
          </a>
        </div>
      </div>
    </div>

    <!-- <p class="title-pay-event">Cross Country (XCO)</p> -->

  </div>
</div>
