<div class="container">
  <div class="col-xs-12 col-md-6 offset-md-3" style="margin-top: 10%;">
    <h3 class="text-center">Atleta | Entrar</h3>
    <form (ngSubmit)="athleteLogin(f)" #f="ngForm">
        <div class="form-group">
          <label for="athlete_email" class="form-control-label">E-mail:</label>
          <input type="email" class="form-control" id="athlete_email" placeholder="Ex: meunome@gmail.com" name="athlete_email" ngModel>
        </div>
        <div class="form-group">
          <label for="athlete_password" class="form-control-label">Senha:</label>
          <input type="password" class="form-control" id="athlete_password" name="athlete_password" ngModel>
        </div>
        <div class="">
          <button class="btn btn-login btn-block btn-round-lg">Entrar</button>
        </div>
      </form>
      <div>
        <hr>
        <i>
          Ainda não é um atleta? <br>
          Se cadastre aqui:
          <a href="athlete-register" class="btn btn-outline-primary">Cadastrar</a>
        </i>
      </div>
      <div>
          <hr>
          <i>
            <a href="/" class="btn btn-outline-primary">Voltar</a>
          </i>
        </div>
    </div>
</div>
