.btn-modal {
  background-color: #007FAD;
  color: #E3D9DB !important;
}
.btn-round-lg{
  border-radius: 22.5px;
  background-color: #f11f4b !important;
  border: none;
  padding: 10px;
  }

.nav-link {
  color: #E3D9DB !important;
  font-size: 1.4em;
  border-left: 2px solid  #E3D9DB;
  padding-left: 30px;
  margin-left: 20px;
}
.nav-link span img {
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-login {
  background-color: #FF004D !important;
  color: #E3D9DB;
}
