<!-- <form [formGroup]="editForm" (ngSubmit)="save()" *ngIf="organization">
  <div *ngFor="let data of organizerData">
    <div *ngIf="data.photo == null || data.photo == ''">
        <i class="fa fa-user-circle user-icon"></i>
    </div>
    <div *ngIf="data.photo != null">
      <div class="img-responsive img-profile" [ngStyle]="{'background-image': 'url(' + img + ')'}">
      </div>
    </div>
  </div>
  <br>
  <label class="control-label" for="textinput">Nome</label>
  <input id="textinput"  type="text" placeholder="José Paulo" class="form-control input-md" formControlName="name">
  <br>
  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpeg,.png,.jpg">
  <button type="submit" class="btn btn-success-custom">Salvar</button> -->
<!-- </form> -->


  <div *ngIf="img == null || img == ''">
    <img src="http://res.cloudinary.com/dylp14eib/image/upload/v1516057420/foto-perfil_pecr9u.png"
    class="img-responsive img-profile" alt="">
  </div>
  <div *ngIf="img != null">
    <div class="img-responsive img-profile" [ngStyle]="{'background-image': 'url(' + img + ')'}">
    </div>
  </div>

  <a href="/profile-organizer/my-data" class="change-color-icon">
    <i class="fa fa-edit" aria-hidden="true"></i>
    <span class="title-edit">Editar Perfil</span>
  </a>
  <hr>

  <!-- <h5> {{ data.name }} </h5> -->
  <br>

  <a href="#" class="title-menu-organizer" routerLink="/profile-organizer/my-events">
    <i class="fa fa-bullhorn change-color-icon" aria-hidden="true"></i>Meus eventos
  </a>
    <a href="#" class="title-menu-organizer" routerLink="/profile-organizer/inscriptions">
      <i class="fa fa-bicycle change-color-icon" aria-hidden="true"></i>Inscritos
    </a>
      <!-- <a href="#" class="title-menu-organizer">
        <i class="fa fa-history change-color-icon" aria-hidden="true"></i>Histório de eventos
      </a> -->
      <a href="#" class="title-menu-organizer" routerLink="/profile-organizer/my-data">
        <i class="fa fa-user-o change-color-icon" aria-hidden="true"></i>Meus dados
      </a>
    <a href="" class="title-menu-organizer" routerLink="/profile-organizer/accounts">
      <i class="fa fa-usd change-color-icon" aria-hidden="true"></i>Contas para saque
    </a>

  <a class="title-menu-organizer"
    (click)="organizationLogOut()"
    routerLink="/">
    <i class="fa fa-sign-out change-color-icon" aria-hidden="true"></i>Fazer logout
  </a>
<!-- </div> -->
