<ul class="dropdown-menu" style="width: 98%;" aria-labelledby="dropdownMenuButton">
    <div class="row">
      <div class="col-md">
        <li class="my-dropdown-item">
          <div class="row">
            <div class="col">
              <app-event-modalities></app-event-modalities>
            </div>
            <div class="col">
              <app-event-modalities></app-event-modalities>
            </div>
            <div class="col">
              <app-event-modalities></app-event-modalities>
            </div>
            <div class="col">
              <app-event-modalities></app-event-modalities>
            </div>
            <div class="col">
              <app-event-modalities></app-event-modalities>
            </div>
            <div class="col">
              <app-event-modalities></app-event-modalities>
            </div>
            <div class="col">
              <app-event-modalities></app-event-modalities>
            </div>
          </div>
        </li>
    </div>
  </div>
</ul>
