<ul class="dropdown-menu" style="width: 98%;" aria-labelledby="dropdownMenuButton">
    <div class="row">
      <div class="col-md">
        <li class="my-dropdown-item">

          <div class="row">
              <div class="col-md-8">

                  <p><em>Próximos:</em></p>
                  <form class="form-inline">
                  <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    7 Dias
                  </label>
                  </div>
                  <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1">
                    30 Dias
                  </label>
                  </div>
                  <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option1">
                    60 Dias
                  </label>
                  </div>
                  <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option1">
                    90 Dias
                  </label>
                  </div>
                  <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option1">
                    120 Dias
                  </label>
                  </div>
                </form>
              </div>
              <div class="col-md-4">
                <div class="row date-choose">
                  <p><em>Escolha um período</em></p>
                  <form class="form-inline">
                  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="data-de-select">
                      <option selected>Inicio</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="data-ate-select">
                        <option selected>Final</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                  </form>
                </div>
            </div>
          </div>

        </li>
      </div>
    </div>
  </ul>
