.date-choose{
  margin: 0 auto;
}

#data-de-select {
  margin-left: 0;
}
.dropdown-menu {
  top: 60px !important;
  transform: translate3d(9px, 717px, 0px) !important;
  li {
    a {
      display: block;
    }
  }
}

.my-dropdown-item {
  padding: 30px;
}

select {
  width:200px;
  height: 41px;
  border:1px solid #012633;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-radius: 15px;
  padding:10px;
  margin: 0;
}

.form-check-input {
  margin-left: 100px;
  font-size: 1.5em;
}

.date-choose {
  p {
    margin-right: 30px;
  }

}
