<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-main-event></app-main-event>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-all-events></app-all-events>
    </div>
  </div>
</div>
