<div class="container">
    <div class="modal fade" id="athleteWindow">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- header -->
            <div class="modal-header modal-header-bg">
              <h5 class="modal-title">OBiker | Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- body -->
            <div class="modal-body">

                <div class="col-md-10">
                    <mat-tab-group>

                      <mat-tab mat-tab-label-active="true" label="ATLETA" >
                        <br>
                        <div class="container">
                          <div class="tab-content" style="max-height: 100%; height: auto;">
                            <div class="row">
                                <app-athlete-login></app-athlete-login>
                            </div>
                          </div>
                        </div>
                      </mat-tab>

                      <mat-tab label="ORGANIZADOR" >
                        <br>
                          <div class="container">
                            <div class="tab-content" style="max-height: 100%; height: auto;">
                              <div class="row">
                                  <app-organization-login></app-organization-login>
                              </div>
                            </div>
                          </div>
                        </mat-tab>

                    </mat-tab-group>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
