
.modal-header-bg {
  color: #E3D9DB !important;
  background-color: #FF004D !important;
}
.nav-link {
  color: #E3D9DB !important;
  font-size: 1.4em;
  border-left: 2px solid  #E3D9DB;
  padding-left: 30px;
  margin-left: 20px;
}
.nav-link span img {
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-login {
  background-color: #FF004D !important;
  color: #E3D9DB;
}
