

  <br>
  <p class="title-sponsors">Patrocinadores:</p>

  <img src="http://res.cloudinary.com/dylp14eib/image/upload/v1516057422/salvador_bike_me9wxt.png"
  class="img-thumbnail img-sponsors"  alt="">

  <img src="http://res.cloudinary.com/dylp14eib/image/upload/v1516057422/prefeitura-de-salvador-2015-logo-693F9EFF64-seeklogo.com.gif_b62snu.png"
  class="img-thumbnail img-sponsors" alt="">

  <img src="http://res.cloudinary.com/dylp14eib/image/upload/v1516057421/Group_292_mrwdkf.png"
  class="img-thumbnail img-sponsors" alt="">

  <img src="http://res.cloudinary.com/dylp14eib/image/upload/v1516057421/Group_291_vlkpz1.png"
  class="img-thumbnail img-sponsors" alt="">
