  <button type="button" (click)="inSubmit()" class="btn btn-light wishlist">
    <i class="fa fa-heart-o" style="padding-right: 5%;" aria-hidden="true">
    </i>ADICIONAR AOS FAVORITOS
  </button>

  <!-- <button type="button" class="btn btn-light inscription-event" [routerLink]="['/']">
    INSCREVA-SE!
  </button> -->

  <div *ngIf="!athleteLogged">
    <button type="button" (click)="onSubmit()" class="nav-link space-link-nav btn btn-light inscription-event" >
      INSCREVA-SE!
    </button>
  </div>
