@import "src/app/profile-organizer/event-form/event-form.component.scss";
@import "src/app/page-filter/page-filter.component.scss";

.content-two-filter {
  width: 180px;
}

.radius-event {
  background-color: transparent;
  bottom: 75px;
}

.day-event {
  color: white;
  font-size: 50px;
  margin-bottom: 0px;
}

.date-event {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}

.img-event-filter {
  width: 180px;
  height: 160px;
}

.open-event {
  padding-top: 12px;
  padding-bottom: 12px;
}

.inscriptions {
  color: #0A6E98;
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: bold;
  text-align: center;
}
