<!-- <app-profile-organizer></app-profile-organizer>

<div class="row space-layout">

  <div class="col-md-3 color-block-profile">
    <div class="align-menu">
      <app-menu-profile-organizer></app-menu-profile-organizer>
    </div>
  </div>

  <div class="col-md-6" *ngFor="let data of organizerData">
    <div class="align-menu">
      <div class="block-profile">
        <h1 class="title-form-organizer">Meus eventos</h1>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-sm-5 col-lg-4 col-md-4" *ngFor="let event of data.events">
          <div class="col-sm-6 col-md-6 col-sm-5 col-lg-4 col-md-4">
            <div class="content-first">
              </div>
                <img src="http://www.helmetsupplier.com/upfile/images/dc/20160520102941130.jpg"
                class="img-responsive img-event-filter" alt="">

              <div class="content-two-filter">
              <div class="radius-event">
                <p class="day-event">{{ event.event_date.split('-')[2] }}</p>
                <p class="date-event">{{ month[ (event.event_date.split('-')[1]) - 1 ] }}</p>
                <p class="date-event">14h</p>
              </div>

              <div class="open-event">
                <div>
                  <span>Inscritos: {{ countMembership(event.id) }}</span>
                </div>
              </div>
              <span class="title-event-relationship-two">{{ event.name }}</span><br>
              <span class="subtitle-event-relationship-two">{{ event.event_info }}</span><br>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3"  *ngFor="let data of organizerData">
    <div class="align-menu">
      <div class="block-profile">
        <h1 class="title-form-organizer">Total de inscrições</h1>
          <p class="inscriptions" *ngIf="data.memberships.length > 0"> {{ data.memberships.length }} </p>
          <p class="inscriptions" *ngIf="data.memberships.length == 0"> 0 </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer> -->
<app-profile-organizer></app-profile-organizer>

<div class="row space-layout">

  <div class="col-md-3 color-block-profile">
    <div class="align-menu">
      <app-menu-profile-organizer></app-menu-profile-organizer>
    </div>
  </div>

  <div class="col-md-6">
    <div class="align-menu">
      <div class="block-profile">
        <h1 class="title-form-organizer">Meus eventos</h1>
        <div class="row">

          <div class="col-sm-5 col-lg-4 col-md-4" *ngFor="let event of events">
            <div class="content-first">
            </div>

            <div *ngIf="event.photo != null || event.photo != ''">
              <div class="img-responsive img-event-filter" [ngStyle]="{'background-image': 'url(' + event.photo.thumb.url + ')'}">
              </div>
            </div>
            <div *ngIf="event.photo == null">
              <img src="http://res.cloudinary.com/dylp14eib/image/upload/c_scale,h_140,w_190/v1516057420/anuncio-01_qs48zq.png"
              class="img-responsive img-event-filter" alt="">
            </div>

            <div class="content-two-filter">
              <div class="radius-event">
                <p class="day-event">{{ event.event_date | date: 'dd' }}</p>
                <p class="date-event">{{ event.event_date | date: 'MMM' }}</p>
                <p class="date-event" *ngIf="event.start_hours">{{ event.start_hours | date: "HH"}}h</p>
              </div>

              <div class="open-event">
                <span>Inscritos: {{ countMembership(event.id) }}</span>
              </div>
              <span class="title-event-relationship-two">Circuito de {{ event.start_city }}</span><br>
              <!-- <span class="subtitle-event-relationship-two"></span> -->
              <span class="subtitle-event-relationship-two">Inscrições até: {{ event.subscription_end | date: 'dd/MM/yyyy' }}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3" *ngFor="let data of organizerData">
    <div class="align-menu">
      <div class="block-profile">
        <h1 class="title-form-organizer">Total de inscrições</h1>
          <p class="inscriptions" *ngIf="data.memberships.length > 0">{{ data.memberships.length }}</p>
          <p class="inscriptions" *ngIf="data.memberships.length < 1">0</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
