<div class="container">
  <div class="row">
    <div  *ngFor="let event of events" class="col-md-6 vertical-space">
      <div *ngIf="event.photo != null">
        <div class="img-responsive explore-height-half" [ngStyle]="{'background-image': 'url(' + event.photo.event_home.url + ')'}">
        </div>
      </div>
      <div *ngIf="event.photo == null">
        <img src="http://res.cloudinary.com/dylp14eib/image/upload/v1515874371/mtb20_zqfptz.jpg"
        class="img-responsive explore-height-half">
      </div>
      <app-wishlist-events-icon class="icon-position"></app-wishlist-events-icon>
      <div class="content">
        <div class="radius-event">
          <p class="day-event">{{ event.event_date.split('-')[2] }}</p>
          <p class="date-event">{{ month[ (event.event_date.split('-')[1]) - 1 ] }}</p>
        </div>
        <p class="name-event">{{ event.name }}</p>
        <p class="city-event">
          <i class="fa fa-map-marker" style="padding-right: 1%;" aria-hidden="true"></i>
          {{ event.start_city }} {{ event.start_state }}
        </p>
        <p class="date-event-block">
          <i class="fa fa-clock-o" style="padding-right: 1%;" aria-hidden="true"></i>
          {{ event.start_hours | date: 'shortTime'}}
        </p>
        <br>

        <a href="" class="d-none d-md-block btn btn-primary btn-round-lg btn-lg jumbo-btn-events" target="_blank" [routerLink]="['/event', event.id]">INSCREVA-SE!</a>
        <a href="" class="d-md-none btn btn-primary btn-round-lg btn-lg small-event" target="_blank" [routerLink]="['/event', event.id]">INSCREVA-SE!</a>
        <!-- <a href="/event" class="d-none d-md-block btn btn-primary btn-round-lg btn-lg jumbo-btn-events" target="_blank" [routerLink]="['/event', e.id]">
          INSCREVA-SE!
        </a>
        <a href="/event" class="d-md-none btn btn-primary btn-round-lg btn-lg small-event" target="_blank" [routerLink]="['/event', e.id]">
          INSCREVA-SE!
        </a> -->
      </div>
    </div>
  </div>
</div>
