/* You can add global styles to this file, and also import other style files */
@import "~ng-snotify/styles/material";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$template-color-1 : #ff5a5f;
$template-color-2 : #666666;
$template-color-3 : #999999;
$template-color-4 : #333333;
$template-color-5 : #cccccc;
$template-color-6 : #ffffff;


// .btn-success-custom{
//   color: $template-color-6;
//   background-color: $template-color-1;
//   border-color: $template-color-1;
// }

.form-control{
  border-radius: 0px;
}


.btn {
  font-size: 14px;
  line-height: 1.5;
  border-radius: 500px;
}
