<div class="box-block-time">
  <div style="display: inline">
    <img src="http://res.cloudinary.com/dylp14eib/image/upload/v1515872898/cronometro_iykc6b.png"
    class="img-clock">

    <span class="days-event">{{days_to_go_event}}</span>
    <span class="days-event">{{ hours_to_go_event }}</span>
    <span class="days-event">{{ minutes_to_go_event }}</span>
  </div>

  <p>
    <span class="title-iconfirst-date">Faltam</span>
    <span class="title-icon-date">Dia(s)</span>
    <span class="title-icon-date">Hora(s)</span>
    <span class="title-icon-date">Minuto(s)</span>
  </p>
</div>

<div class="box-block-pay">
  <p class="title-pay-event">Formas de Pagamento</p>
  <div style="display: inline">
    <i class="fa fa-money fa-2x"
      style="padding-right: 30px;" aria-hidden="true">
    </i>
    <i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
  </div>
</div>

<div class="box-block-site">
  <p class="title-pay-event">Site Seguro</p>
  <div style="display: inline">
  </div>
</div>
<br>
