<app-nav-profile-athlete></app-nav-profile-athlete>

<div class="row space-layout">

  <div class="col-md-3 color-block-profile">
    <div class="align-menu">
      <app-menu-profile-athletes></app-menu-profile-athletes>
    </div>
  </div>


  <div class="col-md-9">
    <div class="align-menu">
      <h1 class="title-form-organizer">Financeiro</h1>
      <div class="block-profile">
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
