<app-nav-profile-athlete></app-nav-profile-athlete>

<div class="row space-layout">

  <div class="col-md-3 color-block-profile">
    <div class="align-menu">
      <app-menu-profile-athletes></app-menu-profile-athletes>
    </div>
  </div>

  <div class="col-md-6">
    <div class="align-menu">
      <h1 class="title-form-organizer">Histório de eventos</h1>
      <div class="block-profile">
        <div class="row">

          <div class="col-lg-4">
            <div class="content-first">
            </div>
              <img src="http://res.cloudinary.com/dylp14eib/image/upload/c_scale,h_140,w_190/v1516057420/anuncio-01_qs48zq.png"
              class="img-responsive img-event-filter" alt="">

            <div class="content-two-filter">
              <div class="radius-event">
                <p class="day-event">27</p>
                <p class="date-event">OUT</p>
                <p class="date-event">14h</p>
              </div>

              <div class="open-event">
                <a href="#" style="color: white">Detalhes</a>
              </div>
              <span class="title-event-relationship-two">Circuito de Uberlândia</span><br>
              <span class="subtitle-event-relationship-two">Circuito de Uberlândia</span><br>
              <span class="subtitle-event-relationship-two">18 nov às 14h</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="align-menu">
      <img src="http://res.cloudinary.com/dylp14eib/image/upload/v1516057422/prefeitura-de-salvador-2015-logo-693F9EFF64-seeklogo.com.gif_b62snu.png"
      class="img-responsive img-sponsors"  alt="">
    </div>
  </div>
</div>
<app-footer></app-footer>
