<app-profile-organizer></app-profile-organizer>

<div class="row space-layout">

  <div class="col-md-3 color-block-profile">
    <div class="align-menu">
      <app-menu-profile-organizer></app-menu-profile-organizer>
    </div>
  </div>

  <div class="col-md-9">
    <div class="align-menu">
      <div class="block-profile">

        <div class="row">
          <div class="col-lg-9">
            <h1 class="title-form-organizer">Contas para saque</h1>
          </div>

          <div class="col-lg-3">
            <button type="button" class="btn btn-light btn-send-contact">
              ADICIONAR CONTA
            </button>
          </div>
        </div>


        <table class="table">
          <thead>
            <tr>
              <th scope="col">Banco</th>
              <th scope="col">Agência</th>
              <th scope="col">Conta Corrente</th>
              <th scope="col">Tipo de Conta</th>
              <th scope="col">Data de Criação</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <th scope="row">1</th> -->
              <!-- <td>Mark</td> -->
            </tr>
            <tr>
              <!-- <th scope="row">2</th> -->
              <!-- <td>Jacob</td> -->
            </tr>
            <tr>
              <!-- <th scope="row">3</th> -->
              <!-- <td>Larry</td> -->
            </tr>
            <tr>
              <!-- <th scope="row">4</th> -->
              <!-- <td>Larry</td> -->
            </tr>
            <tr>
              <!-- <th scope="row">5</th> -->
              <!-- <td>Larry</td> -->
            </tr>
            <tr>
              <!-- <th scope="row">6</th> -->
              <!-- <td>Larry</td> -->
            </tr>
            <tr>
              <!-- <th scope="row">7</th> -->
              <!-- <td>Larry</td> -->
            </tr>
            <tr>
              <!-- <th scope="row">8</th> -->
              <!-- <td>Larry</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
