<app-nav-event-details></app-nav-event-details>

  <div class="row" style="margin-right: 0px;">
    <div class="col-md-3">
      <div class="content-first">
        <div *ngIf="events != null">
          <h3 class="title-filter-event">
            Eventos em:
          </h3>
          <div *ngFor="let event of events">
            <ul class="subtitle-filter-event">
              {{ event.start_city }}
            </ul>
          </div>
        </div>

        <div *ngIf="events == null">
          <h3 class="title-filter-event">
            <ul class="subtitle-filter-event" *ngIf="event == null || event == ''">
              Não há resultados para sua busca, utilize os filtros abaixo
            </ul>
          </h3>
        </div>
        <hr>

        <label class="title-filter-event">Pesquisar</label>
        <input min-chars="3" auto-complete [(ngModel)]="searchModel"
               [source]="arrayAutocomplete" type="text"
               (keydown)="onEvent($event)" [value]="query"
               (input)="query = $event.target.value" class="form-control border-input"
               placeholder="Digite sua busca aqui">
        <br *ngIf="query != ''">
        <small id="nameHelp" class="form-text text-muted">Após digitar a pesquisa, pressione ENTER para buscar</small>
        <br>

        <div class="title-icon">
          <span><img src="../../assets/images/place.svg" alt="">
          </span>LOCAL
        </div>

        <select class="form-control select-locale border-input"
                (change)="filter('start_state', $event.target.value)">
          <option></option>
          <option *ngFor="let state of states_br" [value]="state">{{state}}</option>
        </select>

        <!-- <select class="form-control select-locale border-input"
                type="number"
                [(ngModel)]="cities_br"
                (change)="filter('start_city', $event.target.value)">
          <option *ngFor="let city of cities_br" [value]="city">{{city}}</option>
        </select> -->
        <br>

        <div class="title-icon">
          <span><img src="../../assets/images/calendar.svg" alt="">
          </span>DATA<span>
          </span>
        </div>
        <label class="title-filter-event" style="margin-bottom: 0px">Início em:</label>
        <div class="radio-position">
          <input class="form-check-input" type="checkbox" (change)="filter('seven_days', $event.target.checked)">
          <label class="form-check-label" >7 dias</label>
          <br>
          <input class="form-check-input" type="checkbox" (change)="filter('thirty_days', $event.target.checked)">
          <label class="form-check-label" >30 dias</label>
          <br>
          <input class="form-check-input" type="checkbox" (change)="filter('sixty_days', $event.target.checked)">
          <label class="form-check-label" >60 dias</label>
          <br>
          <input class="form-check-input" type="checkbox" (change)="filter('ninety_days', $event.target.checked)">
          <label class="form-check-label" >90 dias</label>
          <br>
          <input class="form-check-input" type="checkbox"  (change)="filter('one_hundred_twenty_days', $event.target.checked)">
          <label class="form-check-label" >120 dias</label>
        </div>
        <small class="form-text text-muted">Clique em apenas uma das opções acima, desmarque a opção se não deseja utiliza-la.</small>

        <label class="title-filter-event" style="margin-top: 4px">Ou em:</label>

        <div class="row">
          <div class="col-lg-1">
            <label class="title-filter-event" style="margin-bottom: 0px">De</label>
          </div>
          <div class="col-lg-10">
            <input class="form-control select-locale border-input"
                   #dp="bsDatepicker"
                   bsDatepicker [(ngModel)]="begindate"
                   [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                   (ngModelChange)="filter('begindate', $event.toLocaleDateString())">
          </div>
          <br>

          <div class="col-lg-1">
            <label class="title-filter-event" style="margin-bottom: 0px">Até</label>
          </div>
          <div class="col-lg-10">
            <input class="form-control select-locale border-input"
                   #dp="bsDatepicker"
                   bsDatepicker [(ngModel)]="enddate"
                   [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                   (ngModelChange)="filter('enddate', $event.toLocaleDateString())">
          </div>
        </div>
        <!-- <div class="input-group" dropdown container="body">
          <input type="text" dropdownToggle class="form-control" name="inputBeginDate" [value]="begindate" />
          <span class="input-group-addon" dropdownToggle><i class="fa fa-calendar"></i></span>
          <div *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
            <datepicker name="test" [showWeeks]="false" [(ngModel)]="begindate" (ngModelChange)="filter('beginDate', $event.toLocaleDateString())"></datepicker>
          </div>
        </div>

        <div class="input-group" dropdown dropdown-append-to-body [autoClose]="'outsideClick'">
          <input type="text" class="form-control" name="inputBeginDate" [value]="enddate" />
          <span class="input-group-addon" dropdownToggle><i class="fa fa-calendar"></i></span>
          <div class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
            <datepicker name="test" [showWeeks]="false" [(ngModel)]="enddate" (ngModelChange)="filter('endDate', $event.toLocaleDateString())"></datepicker>
          </div>
        </div> -->
        <br>

        <div class="title-icon">
          <span><img src="../../assets/images/bicycle.svg" alt="">
          </span>MODALIDADES<span>
          </span>
        </div>

        <!-- <button type="button" class="btn btn-light dropdown-toggle btn-toggle"
          (click)="isCollapsed = !isCollapsed">MTB
        </button> -->
        <!-- <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="radio-position"> -->
        <div *ngFor="let modality of modalities">
          <input type="checkbox" [value]="modality.name" (change)="filter('search', $event.target.value)">
          <label class="title-filter-event">{{ modality.name }}</label>
        </div>
        <input type="checkbox" (change)="filter('search', $event.target.checked)">
        <label class="title-filter-event">Limpar Filtro de Modalidades</label>
        <small class="form-text text-muted">Clique em apenas uma das opções acima, desmarque a opção se não deseja utiliza-la.</small>
        <br>
        <hr>
          <!-- <input class="form-check-input" type="radio" name="inlineRadioOptions" value="option1">
          <label class="form-check-label" for="inlineRadio1">Marathon (XCM)</label> -->
        <!-- </div> -->


        <!-- <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="istwoCollapsed" class="radio-position"> -->
          <!-- <input class="form-check-input" type="radio" name="inlineRadioOptions" value="option1">
          <label class="form-check-label" for="inlineRadio1"></label>
          <br>
          <input class="form-check-input" type="radio" name="inlineRadioOptions" value="option1">
          <label class="form-check-label" for="inlineRadio1"></label> -->
        <!-- </div> -->

        <a class="btn btn-clear-filter" href="/page-filter">
          Limpar Filtros
        </a>
        <small class="form-text text-muted">Clique nesta opção para reiniciar a pesquisa por filtros</small>
      </div>
    </div>

    <!-- <div class="col-md-3">
      <h4 class="title-filter-event" *ngIf="event != null || event == ''">
        {{ event.name }}
      </h4>
      <h4 class="title-filter-event" *ngIf="event == null || event == ''">
        Eventos em Brasília
      </h4>
    </div> -->
    <div class="col-md-9">

      <div class="row">

        <div class="col-sm-5 col-lg-4 col-md-4" *ngFor="let event of events">
          <div class="content-first">
          </div>
            <img src="http://res.cloudinary.com/dylp14eib/image/upload/c_scale,h_140,w_190/v1516057420/anuncio-01_qs48zq.png"
            class="img-responsive img-event-filter" alt="">

          <div class="content-two-filter">
            <div class="radius-event">
              <p class="day-event">{{ event.event_date.split('-')[2] }}</p>
              <p class="date-event">{{ month[ (event.event_date.split('-')[1]) - 1 ] }}</p>
            </div>

            <div class="open-event">
              <a  class="btn btn-inscription-event">INSCREVA-SE!</a>
            </div>
            <span class="title-event-relationship-two">{{ event.name}}</span><br>
            <span class="subtitle-event-relationship-two">Circuito de {{ event.start_city }}</span><br>
            <span class="subtitle-event-relationship-two">{{ event.event_date | date: 'dd/MM/yyyy' }}</span>
          </div>
        </div>



      </div>
    </div>
    <div class="col-md-5">
    </div>
      <div class="col-md-2">
          <app-pagination totalItems="{{ events.length }"></app-pagination>
      </div>
    <div class="col-md-5">
    </div>
  </div>

  <!-- <div class="row">

  </div> -->

  <app-footer></app-footer>


<!-- <div class="thumbnail">
         <%= image_tag ad.picture.url(:medium) %>
         <div class="caption" style="height: 100px;">
             <h4 class="pull-right"><%= humanized_money_with_symbol ad.price %></h4>
             <h4>
             </h4>
         </div>
         <div class="ratings" style="padding: 5px;">
             <p class="pull-right">
         </div>
     </div>
 </div> -->
